<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<div class="wp">

<div class="t9_1211221400">

<div class="t9_1211221405 t9_c_n"><!--[diy=t9_1211221405]--><div id="t9_1211221405" class="area"></div><!--[/diy]--></div>

<div class="t9_1211241000">
<div class="t9_1211241002"><!--[diy=t9_1211241002]--><div id="t9_1211241002" class="area"></div><!--[/diy]--></div>
<div class="t9_1211241003">
<div class="t9_1211241003a"><!--[diy=t9_1211241003]--><div id="t9_1211241003" class="area"></div><!--[/diy]--></div>
<div class="t9_1211241003b"><!--[diy=t9_1211241003b]--><div id="t9_1211241003b" class="area"></div><!--[/diy]--></div>
<div class="t9_1211241003c"><!--[diy=t9_1211241003c]--><div id="t9_1211241003c" class="area"></div><!--[/diy]--></div></div>
<div class="t9_1211241004"><!--[diy=t9_1211241004]--><div id="t9_1211241004" class="area"></div><!--[/diy]--></div><div class="t9_cle"></div></div>

<div class="t9_1211221401 t9_c_n">
<div class="t9_1211221402"><!--[diy=t9_1211221402]--><div id="t9_1211221402" class="area"></div><!--[/diy]--></div>
<div class="t9_1211221403"><!--[diy=t9_1211221403]--><div id="t9_1211221403" class="area"></div><!--[/diy]--></div>
<div class="t9_1211221404"><!--[diy=t9_1211221404]--><div id="t9_1211221404" class="area"></div><!--[/diy]--></div><div class="t9_cle"></div></div>

<div class="t9_1211221406 t9_c_n"><!--[diy=t9_1211221406]--><div id="t9_1211221406" class="area"></div><!--[/diy]--></div>

<div class="t9_1211221407">
<div class="t9_1211221408">
<div class="t9_1211221409"><!--[diy=t9_1211221409]--><div id="t9_1211221409" class="area"></div><!--[/diy]--></div>
<div class="t9_1211221410"><!--[diy=t9_1211221410]--><div id="t9_1211221410" class="area"></div><!--[/diy]--></div></div>
<div class="t9_1211221411"><!--[diy=t9_1211221411]--><div id="t9_1211221411" class="area"></div><!--[/diy]--></div>
<div class="t9_1211221412">
<div class="t9_1211221413"><!--[diy=t9_1211221413]--><div id="t9_1211221413" class="area"></div><!--[/diy]--></div>
<div class="t9_1211221414"><!--[diy=t9_1211221414]--><div id="t9_1211221414" class="area"></div><!--[/diy]--></div>
<div class="t9_1211221415"><!--[diy=t9_1211221415]--><div id="t9_1211221415" class="area"></div><!--[/diy]--></div></div><div class="t9_cle"></div></div>

<div class="t9_1211221416">
<div class="slidebox" timestep="8000">
<!--[diy=t9_1211221416]--><div id="t9_1211221416" class="area"></div><!--[/diy]-->
<div class="slideshow">
<!--[diy=t9_1211221416a]--><div id="t9_1211221416a" class="area"></div><!--[/diy]-->
<!--[diy=t9_1211221416b]--><div id="t9_1211221416b" class="area"></div><!--[/diy]-->
<!--[diy=t9_1211221416c]--><div id="t9_1211221416c" class="area"></div><!--[/diy]-->
</div>
<div class="btn">
<a href="javascript:;" class="slidebarup"></a>
<em class="slidebar"><span></span><span></span><span></span></em>
<a href="javascript:;" class="slidebardown"></a>
</div>
<script type="text/javascript">
runslideshow();
</script>
</div></div>


<div class="t9_1211221417"><!--[diy=t9_1211221417]--><div id="t9_1211221417" class="area"></div><!--[/diy]--></div><div class="t9_cle"></div>

<div class="t9_1211221423">
<div class="t9_1211221424">
<div class="t9_1211221425"><!--[diy=t9_1211221425]--><div id="t9_1211221425" class="area"></div><!--[/diy]--></div><div class="t9_cle"></div>
<div class="t9_1211221426">
<div class="t9_1211221427 t9_w_346 t9_left"><!--[diy=t9_1211221427]--><div id="t9_1211221427" class="area"></div><!--[/diy]--></div>
<div class="t9_1211221428 t9_w_346 t9_right"><!--[diy=t9_1211221428]--><div id="t9_1211221428" class="area"></div><!--[/diy]--></div><div class="t9_cle"></div>
<div class="t9_1211221429 t9_w_346 t9_left"><!--[diy=t9_1211221429]--><div id="t9_1211221429" class="area"></div><!--[/diy]--></div>
<div class="t9_1211221430 t9_w_346 t9_right"><!--[diy=t9_1211221430]--><div id="t9_1211221430" class="area"></div><!--[/diy]--></div><div class="t9_cle"></div></div></div>
<div class="t9_1211221431">
<div class="t9_1211221432"><!--[diy=t9_1211221432]--><div id="t9_1211221432" class="area"></div><!--[/diy]--></div>
<div class="t9_1211221433"><!--[diy=t9_1211221433]--><div id="t9_1211221433" class="area"></div><!--[/diy]--></div>
<div class="t9_1211221434"><!--[diy=t9_1211221434]--><div id="t9_1211221434" class="area"></div><!--[/diy]--></div></div><div class="t9_cle"></div></div>

<div class="t9_1211221435 t9_c_n"><!--[diy=t9_1211221435]--><div id="t9_1211221435" class="area"></div><!--[/diy]--></div>

<div class="t9_1211221436">
<div class="t9_1211221437">
<div class="t9_1211221438 t9_w_346 t9_left"><!--[diy=t9_1211221438]--><div id="t9_1211221438" class="area"></div><!--[/diy]--></div>
<div class="t9_1211221439 t9_w_346 t9_right"><!--[diy=t9_1211221439]--><div id="t9_1211221439" class="area"></div><!--[/diy]--></div><div class="t9_cle"></div>
<div class="t9_1211221440"><!--[diy=t9_1211221440]--><div id="t9_1211221440" class="area"></div><!--[/diy]--></div>
<script>
var speed=20; 
var tab=document.getElementById("demo");
var tab1=document.getElementById("demo1");
var tab2=document.getElementById("demo2");
tab2.innerHTML=tab1.innerHTML;
function Marquee(){
if(tab2.offsetWidth-tab.scrollLeft<=0)
tab.scrollLeft-=tab1.offsetWidth
else{
tab.scrollLeft++;
}
}
var MyMar=setInterval(Marquee,speed);
tab.onmouseover=function() {clearInterval(MyMar)};
tab.onmouseout=function() {MyMar=setInterval(Marquee,speed)};
</script>
<div class="t9_1211221441"><!--[diy=t9_1211221441]--><div id="t9_1211221441" class="area"></div><!--[/diy]--></div></div>
<div class="t9_1211221442">
<div class="t9_1211221443"><!--[diy=t9_1211221443]--><div id="t9_1211221443" class="area"></div><!--[/diy]--></div>
<div class="t9_1211221444"><!--[diy=t9_1211221444]--><div id="t9_1211221444" class="area"></div><!--[/diy]--></div>
<div class="t9_1211221445"><!--[diy=t9_1211221445]--><div id="t9_1211221445" class="area"></div><!--[/diy]--></div></div><div class="t9_cle"></div></div>

<div class="t9_1211221446"><!--[diy=t9_1211221446]--><div id="t9_1211221446" class="area"></div><!--[/diy]--></div>

<div class="t9_cle"></div></div>

<div class="t9_1211221447"><!--[diy=t9_1211221447]--><div id="t9_1211221447" class="area"></div><!--[/diy]--></div>

<div class="t9_cle"></div>

<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->
