/* ----------------------------------
CSS file for Discuz! x3.0 By 999test.cn
(C) 999test.cn
http://www.999test.cn
Design QQ  747983834
Design QQ  944459016
Design QQ  373372740
Design QQ  794918446
Design QQ 1029879682
---------------------------------- */

.t9_top #toptb a#diy-tg{padding-left:16px!important;}.t9_1202261236_r_c .t9_ulli li div{padding-left:0;padding-right:12px;background:none;}.t9_1309141028 .t9_ulli li,.t9_1304282052b .t9_ulli li{padding-left:0;background:none;}.t9_1202261236_r_c .t9_ulli li em,.t9_1202261236_r_c .t9_ulli li label,.t9_1309141028 .t9_ulli li label,.t9_1309141028 .t9_ulli li em,.t9_1304282052b .t9_ulli li label,.t9_1304282052b .t9_ulli li em{ display:inline-block;}